/* @import "bootstrap/scss/bootstrap"; */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d6d7e4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: hsl(0, 4%, 5%);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(236, 229, 229);
    color: white;
    cursor: pointer;
    
    
  }

  * {
  box-sizing: border-box;
  }
 /*  body {
    overflow-x: hidden;
  } */

  #to-do {
    font-style: italic;
  }

  #myButton { 
    margin-left: 2rem;
    border-radius: 20px;
  }

  #sortBtn {
    margin-top: 2rem;
    border-radius: 20px;
  }

  .done {
    text-decoration-line: line-through; 
    color: gray;
  }

  .toDo {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;  
    align-items: center;
    gap: 12px;
    max-width: 100%;
    padding: 0.5rem 1rem;
    word-wrap: break-word;

  }
  
  .text-break {
    min-width: 0;             /* Tvingar texten att inte expandera grid-kolumnen */
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    
}
  
  .todo-checkbox {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
  }

  li {
    padding: 2 rem;
    text-align: left;
    font-weight: bold;
  }

  #addlist {
    border: 3px solid rgb(240, 41, 107);
    border-radius: 20px;
    padding: 2rem;
    max-width: 100%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

